@{
    ViewBag.Title = "About";
    ViewBag.RequireJsMain = new string[] { "home-index-js" };
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section scripts {
    <script>
        require(['jquery'], function ($) {
            $(document).ready(function () {
                console.log("dom ready from inner js!");
            });
        });
    </script>
}

<h3>@ViewBag.Message</h3>