@model CQRS.Demo.Model.Investments.Investment
@{
    ViewBag.Title = "Index";
}

@if (Model.Status == CQRS.Demo.Contracts.Enum.InvestmentStatus.Initial)
{
    <p>
        投资已发起，现在
        @using (Html.BeginForm("Pay", "Invest", FormMethod.Post))
        {
            @Html.Hidden("id", @Model.InvestmentId)
            <input type="submit" value="支付" />
        }
    </p>
}
else if (Model.Status == CQRS.Demo.Contracts.Enum.InvestmentStatus.Paied)
{
    <p>
        投资已支付，Bingo
    </p>
}

