@model CQRS.Demo.Web.Models.RunningViewModel
@{
    ViewBag.Title = "Running";
}

<script>
    setTimeout(function () {
        window.location.href = "/@Model.Url()";
    }, 2000);
</script>
<h2>处理中……</h2>
