@model Settings.Client.SettingsResponse
@{
    ViewBag.Title = "Settings Client";
}
@if (Model != null)
{
    <h2>@Model.Client</h2>
    <table class="table">
        @foreach (var entry in Model.Entries)
        {
            <tr>
                <td>@entry.Path</td>
                <td>@entry.Value</td>
            </tr>
        }
    </table>
}
