<div class="row">
    <div class="text-center">
        <div id="panel_message"></div>
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-success" style="display:none;">
                @TempData["Info"]
            </div>
        }
        @if (ViewData.ModelState[string.Empty] != null)
        {
            <div class="alert alert-danger" style="display:none;">
                @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }
    </div>
</div>
