<div class="row">
    <div class="text-center">
        <div id="panel_message"></div>
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-success" style="display:none;">
                @TempData["Info"]
            </div>
            
        }
        @if (ViewData.ModelState[string.Empty] != null)
        {
            <div class="alert alert-danger" style="display:none;">
                @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }
    </div>
</div>
<script>
    function gHideMessage() {
        var alert = $('div.alert:hidden').fadeIn(500);
        setTimeout(function () { alert.fadeOut(500); }, 2000);
    }
    function showMessage(message, css) {
        $('div.alert').remove();
        var alert = $('<div class="alert ' + css + '" role="alert" id="div_message"></div>')
            .text(message).hide().appendTo($('#panel_message')).fadeIn(500);
        setTimeout(function () { alert.fadeOut(500); }, 2000);
    }
</script>