@{
    ViewBag.RequireJsBundles = new string[] { "jstree-group-js" };
}
@using Grit.Utility.Web.Json
@Styles.Render("~/Content/jstree/themes/proton/style")
@section scripts {
    <script>
        require(['jquery', 'bootstrap', 'jstree-group-js'],
            function ($, bootstrap, treeGroup) {
                $(document).ready(function () {
                    var app = treeGroup($('#ctl_tree'), @Html.Json(@ViewBag.Tree as object));
                    $("#btn_save").on('click', function(){
                        $.ajax({
                            url: "@Url.Action("Group")",
                            type: 'POST',
                            data: JSON.stringify(app.data()),
                            dataType: 'json',
                            processData: false,
                            contentType: 'application/json; charset=utf-8'
                        }).done(function (data) {
                        }).fail(function (data) {
                        }).always(function (data) {
                        });
                    });
                });
            });
    </script>
}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <button type="button" class="btn btn-default navbar-btn pull-right" id="btn_save">Save</button>
        </div>
    </div>
</nav>

<div class="row">
    <div id="ctl_tree" class="col-md-12"></div>
</div>

