@{
    ViewBag.RequireJsBundles = new string[] { "jstree-static-js" };
}
@using Grit.Utility.Web.Json
@Styles.Render("~/Content/jstree/themes/proton/style")
@section scripts {
    <script>
        require(['jquery', 'bootstrap', 'jstree-static-js'],
            function ($, bootstrap, treeStatic) {
                $(document).ready(function () {
                    var app = treeStatic($('#ctl_tree'), @Html.Json(@ViewBag.Tree as object));
                });
            });
    </script>
}

@section subnav {
    @Html.ActionLink("Grouping Permissions", "Group", null, new { @class = "btn btn-default navbar-btn" })
}
<div class="row">
    <div class="col-md-12">
        <h4>Permissions</h4>
        <div id="ctl_tree"></div>
    </div>
</div>

