@{
    ViewBag.Title = "Group";
}
@using Grit.Utility.Web.Extensions
<h2>@ViewBag.Title.</h2>

@Styles.Render("~/Content/jstree/themes/proton/style")
@section scripts {
    <script>
        require(['jquery', 'bootstrap', 'jstree-group-js'],
            function ($, bootstrap, app) {
                $(document).ready(function () {
                    app.init($('#ctl_tree'), @Html.Json(@ViewBag.Tree as object));
                    $("#btn_save").on('click', function(){
                        $.ajax({
                            url: "/Home/Group",
                            type: 'POST',
                            data: JSON.stringify(app.data()),
                            dataType: 'json',
                            processData: false,
                            contentType: 'application/json; charset=utf-8'
                        }).done(function (data) {
                        }).fail(function (data) {
                        }).always(function (data) {
                        });
                    });
                });
            });
    </script>
}

<div class="row">
    <button type="button" class="btn btn-default pull-right" id="btn_save">Save</button>
</div>
<div class="row">
    <div id="ctl_tree" class="col-md-12"></div>
</div>

