@{
    ViewBag.Title = "Static";
    ViewBag.RequireJsBundles = new string[] { "jstree-static-js" };
}
@using Grit.Utility.Web.Json
<h2>@ViewBag.Title</h2>

@Styles.Render("~/Content/jstree/themes/proton/style")
@section scripts {
    <script>
        require(['jquery', 'bootstrap', 'jstree-static-js'],
            function ($, bootstrap, app) {
                $(document).ready(function () {
                    app.init($('#ctl_tree'), @Html.Json(@ViewBag.Tree as object));
                });
            });
    </script>
}

<div class="row">
    <div id="ctl_tree" class="col-md-12"></div>
</div>

